.projectEntry {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: white;
}

.projectEntryContainer {
    /* background: aqua; */
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    z-index: 0;
}

.projectEntryContainer > img {
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
}

.projectEntryContainer h1 {
    margin-top: 30px;
    font-size: 30px;
}

.projectEntryContainer h3 {
    font-size: 18px;
    color:rgb(71, 71, 71);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.projectEntryContainer > p {
    font-size: 18px;
    width: 90%;
    margin-bottom: 20px;
    text-align: justify;
}

.projectEntryContainer > p.placeholderText {
    text-align: center;
}

.projectInfo span {
    color:rgb(50, 100, 100);
    /* background-color: seagreen; */
    text-decoration: bold;
    display: inline-block;
    width: 120px;
}

.projectInfo span.endLine {
    margin-bottom: 30px;
    width: 0px;
}

.teamInfo {
    margin-bottom: 20px;
}

.teamInfo span {
    color:rgb(50, 100, 100);
    /* background-color: seagreen; */
    text-decoration: bold;
    display: inline-block;
    width: 180px;
}

.teamInfo span.endLine {
    margin-bottom: 0px;
    width: 0px;
}

.teamInfo h3 {
    margin-top: 10px;
}

.projectEntryContainer .projectInfo {
    font-size: 16px;
    padding: 0px 30px 0px 30px;
}

.awardsInfo {
    text-align: justify;
    margin-bottom: 40px;
    color:rgb(50, 100, 100);
    font-size: 16px;
    padding: 0px 30px 0px 30px;
}

.awardEntry {
    margin-left: 8px;
    /* font-weight: 500; */
}

.awardsInfo > h3 {
    color:rgb(50, 100, 100);
    margin-top: 10px;
}

.projectEntryContainer h2 {
    width: 90%;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
    color: rgb(160, 160, 160);
    font-weight: normal;
}

.projectEntryContainer > .btn-mobile {
    margin-bottom: 20px;
}

.projectEntryContainer .trailer {
    margin-bottom: 40px;
    width: 90%;
}

.projectEntryContainer a {
    text-decoration: none;
    font-weight: 500;
    color:black;
}

.projectEntryContainer a:visited {
    color:black;
}

.projectEntryContainer a:hover {
    color:rgb(71, 71, 71);
    transition: 0.2s ease-in;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.projectEntryEndButtons .btn {
    margin: 0px 10px 0px 10px;
}

.projectEntryEndButtons {
    margin-bottom: 40px;
    display: flex;
}

.projectEntryEndButtons .btn {
    font-size: 18px;
}

@media screen and (max-width: 960px) 
{
    .projectEntryEndButtons .btn {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px)
{
    .projectEntryContainer > p {
        font-size: 14px;
    }

    .projectEntryContainer h1 {
        font-size: 25px;
    }

    .projectEntryContainer h2 {
        font-size: 17px;
    }

    .projectEntryContainer h3 {
        font-size: 16px;
    }

    .awardsInfo {
        font-size: 14px;
    }

    .projectEntryContainer .projectInfo {
        font-size: 14px;
    }

    .teamInfo {
        font-size: 14px;
    }

    .teamInfo span {
        width: 160px;
    }

    .projectEntryEndButtons {
        flex-direction: column;
    }

    .projectEntryEndButtons .btn {
        margin: 10px 10px;
    }

    .projectEntryEndButtons .btn {
        font-size: 12px;
    }
}