video, .fadeScreen, 
.banner-container > img, .banner-container .bannerImg,
.banner-container-black > img, .banner-container-black .bannerImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.fadeScreen {
    background-color: rgba(0,0,0,0.5);
}

.banner-container, .banner-container-black {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    justify-content: center;
}

.banner-container-black {
    background-color: #1b1b1b;
}

.banner-container > h1, .banner-container-black > h1 {
    color: white;
    font-size: 55px;
    margin-top: -100px;
    margin-bottom: 15px;
    font-weight: normal;
    text-shadow: 2px 2px black;
    margin-bottom: -1px;
}

.banner-container > h2, .banner-container-black > h2 {
    color: white;
    font-size: 60px;
    margin-top: -100px;
    font-weight: normal;
    text-shadow: 2px 2px black;
    margin-top: 1px;
}

.banner-container > p, .banner-container-black > p {
    margin-top: 8px;
    color: white;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px black;
}

.banner-btns {
    margin-top: 32px;
}

.banner-btns .btn {
    margin: 6px;
}

.fa-play-cicle {
    margin-left: 4px;
}

.fa-home {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

@media screen and (max-width: 960px) 
{
    .banner-container > h1, .banner-container-black > h1 {
        font-size: 45px;
        margin-top: -150px;
        margin-bottom: 0px;
    }

    .banner-container > h2, .banner-container-black > h2 {
        color: white;
        font-size: 50px;
        margin-top: 1px;
    }

    .banner-container > p, .banner-container-black > p {
        font-size: 19px;
    }
}

@media screen and (max-width: 768px)
{
    .banner-container > h1, .banner-container-black > h1 {
        font-size: 30px;
        margin-top: -100px;
    }

    .banner-container > h2, .banner-container-black > h2 {
        color: white;
        font-size: 35px;
        margin-top: 1px;
    }

    .banner-container > p, .banner-container-black > p {
        font-size: 15px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }

    .banner-container, .banner-container-black {
        margin-top: -10%; /* Fixes 100vh mobile issue */
    }
}