.loadingContainer {
    background-color: #1b1b1b;
    height: 100vh;
}

.loadingCentered {
    color: rgb(255, 255, 255);
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-25%, 0);
}

.loadingCentered > h1 {
    text-align: left;
    padding-left: 20px;
    color: rgb(177, 177, 177);
    font-size: 30px;
}

@media screen and (max-width: 960px)
{
    .loadingCentered > h1 {
        font-size: 25px;
    }

    .loadingCentered {
        top: 32%;
    }
}

@media screen and (max-width: 768px)
{
    .loadingCentered > h1 {
        display: none;
    }
}